body{
    background-color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
        font-size: 14px;
        color: black;
        font-weight: normal;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        
}
head{
    background-color: white;
}
h1{
        font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif';
        font-size: 34px;
        color: peru;
        font-weight: normal;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: normal;
        font-variant: normal;
        text-transform: uppercase;

    }
    h2{
        font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif';
        font-size: 28px;
        color: peru;
        font-weight: normal;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: normal;
        font-variant: normal;
        text-transform: uppercase;
    }

    body {
        background-color:white;
        animation-name: example;
        animation-duration: 4s;
      }
      
      @keyframes example {
        0%   {background-color: palevioletred;}
        25%  {background-color: powderblue;}
        50%  {background-color: lightgreen;}
        100% {background-color: lightsteelblue;}
      }